<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title id='Description'>Grovenue</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="icon" href="favicon.png">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/custom_v2.css?v=1.0">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <link rel="stylesheet" href="css/responsive.css?v=1.0">
    <link rel="stylesheet" href="css/menu.css?v=1.0">
    <link rel="stylesheet" href="css/popup.css?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/1.14.1/hello.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.js"></script>
    <script src="js/fileSaver.js?v=1.0"></script>
    <script src="js/modalService.js?v=1.0"></script>
    <script src="js/commonServices.js?v=1.0"></script>
    <script src="js/authController.js?v=1.0"></script>
    <script src="js/resetPasswordController.js?v=1.0"></script>

</head>

<body ng-cloak ng-app="myApp" ng-controller="resetPasswordController" ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="logo col-md-3">
                <a style="cursor:pointer;"><img src="images/colorlogo.png" /></a>
            </div>
        </div>
        <div class="row" style="margin-top:80px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form ng-if="isSuccess==false" class="form-horizontal" method="post" ng-submit="resetPassword()">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="password" class="form-control" placeholder="New password" ng-model="reset.password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="password" class="form-control" placeholder="Confirm password" ng-model="reset.confirmPassword" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="submit" value="Submit" class="btn" />
                        </div>
                    </div>
                </form>
                <div ng-if="isSuccess==true">
                    Click <a href="index.html">here</a> to continue.
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>

</html>
