<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title id='Description'>Write A Review</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="icon" href="favicon.png">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/custom_v2.css?v=1.0">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <link rel="stylesheet" href="css/responsive.css?v=1.0">
    <link rel="stylesheet" href="css/menu.css?v=1.0">
    <link rel="stylesheet" href="css/popup.css?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/1.14.1/hello.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.js"></script>
    <script src="js/fileSaver.js?v=1.0"></script>
    <script src="js/modalService.js?v=1.0"></script>
    <script src="js/commonServices.js?v=1.0"></script>
    <script src="js/authController.js?v=1.0"></script>
    <script src="js/feedbackController.js?v=1.0"></script>
    <script src="js/areaModalController.js?v=1.0"></script>
    <script src="js/previewController.js?v=1.0"></script>
    <script src="js/writeReviewController.js?v=1.0"></script>

    <style>
        .table>tbody>tr>td {
            border: none;
        }
        
        .tooltip {
            width: 300px !important;
        }

    </style>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97928294-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        $(document).ready(function() {
            console.log("ready!");
            loadPlayer();
            $(".youtubevideo").click(function() {
                stopVideo();
            });
        });

        function getArtistId() {
            //return 'l-gQLqv9f4o';
            return '0XLwyFIrR3Q';
        }

        function loadPlayer() {
            if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {

                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                window.onYouTubePlayerAPIReady = function() {
                    onYouTubePlayer();
                };

            } else {

                onYouTubePlayer();

            }
        }

        var player;

        function onYouTubePlayer() {
            player = new YT.Player('player', {
                height: '400',
                width: '100%',
                videoId: getArtistId(),
                playerVars: {
                    controls: 1,
                    showinfo: 0,
                    rel: 0,
                    showsearch: 0,
                    iv_load_policy: 3
                },
                events: {
                    'onStateChange': onPlayerStateChange,
                    'onError': catchError
                }
            });
        }

        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                // setTimeout(stopVideo, 6000);
                done = true;
            } else if (event.data == YT.PlayerState.ENDED) {
                location.reload();
            }
        }

        function onPlayerReady(event) {

            //if(typeof(SONG.getArtistId()) == undefined)
            //{
            //  console.log("undefineeeed");
            //}
            //event.target.playVideo();
        }

        function catchError(event) {
            if (event.data == 100) console.log("De video bestaat niet meer");
        }

        function stopVideo() {
            player.stopVideo();
        }

    </script>
    <!-- Tack a Stroll Script -->
</head>

<body ng-cloak ng-app="myApp" ng-controller="writeReviewController" ng-init="init('write_a_review',false)">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="logo col-md-3">
                    <a href="index.html"><img src="images/colorlogo.png" /></a>
                </div>
                <div class="menu col-md-6">
                    <div class="top topsearch">
                        <div class="search">
                            <div class="all"> </div>
                            <form ng-submit="searchBar()">
                                <input type="text" name="search" ng-model="searchkeyword" placeholder="Search for books, coaching classes, or digital tools to review" />
                            </form>
                            <!--<input type="text" class="hideshow" name="search" placeholder="Search"/>-->
                            <a href="javascript:void(0);" id="searchshow"><i class="fa fa-search" aria-hidden="true" ng-click="searchBar()"></i></a>
                            <div class="popup">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu col-md-3">
                    <div class="top">
                        <div class="login-reg">
                            <div class="headeruser"><img src="images/user.png" /></div>
                            <div class="logreg" ng-if="!isLoggedin()">

                                <a ng-click="openLoginSignupModal()" style="cursor:pointer;">LOGIN / REGISTER</a>
                            </div>
                            <div class="logreg" ng-if="isLoggedin()">
                                <input type="button" value="{{loggedInUser.fullName}}" popover-animation="true" popover-placement="bottom" popover-trigger="'focus'" uib-popover-template="'partials/user-menu-popover.html'" style="cursor:pointer;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="menu main_menu col-md-12">
                    <div id='cssmenu' class="center-parent">
                        <ul class="center">
                            <li><a href="Discover.html" class="menulink">discover</a></li>
                            <li><a href="prepare_for_greatness.html" class="menulink">prepare for greatness</a></li>
                            <li><a href="be_job_ready.html" class="menulink">be job ready</a></li>
                            <li id="last"><a href="write_review.html" class="menulink active">write a review</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->

    <div class="tellyourgb">
        <div class="book_coaching_digital" id="sliderfirst">
            <div class="container">
                <div class="selectbook">
                    <div class="bcd col-md-4 text-center" ng-class="{active:showBook==true}" ng-click="changeActive('book')">
                        <a class="bookid" style="cursor:pointer;"><img src="images/book.png"></a>
                        <h3>Books</h3>
                    </div>
                    <div class="bcd col-md-4 text-center" ng-class="{active:showCoachingClass==true}" ng-click="changeActive('coachingClass')">
                        <a class="coachingid" style="cursor:pointer;"><img src="images/coaching.png"></a>
                        <h3>Coaching Classes</h3>
                    </div>
                    <div class="bcd col-md-4 text-center" ng-class="{active:showDigitalResource==true}" ng-click="changeActive('digitalResource')">
                        <a class="digitalid" style="cursor:pointer;"><img src="images/digital.png"></a>
                        <h3>Digital Tools</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Books, Coaching Classes, Digital Tools -->
    </div>

    <div ng-include="'partials/feedback.html'"></div>

    <!-- Search -->
    <div class="container auto-search">
        <div class="row" style="padding:25px">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 preparesearchbox">
                <form name="search" action="javascript:void(0);" id="booksearch" ng-submit="searchBar()">
                    <input type="text" ng-model="searchkeyword" name="autosearch" list="autosearch" placeholder="Search for books, coaching classes, or digital tools to review" />
                </form>
            </div>
            <div class="searchbutton col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <input type="submit" name="submit" value="submit" ng-click="searchBar()" />
            </div>
        </div>
    </div>
    <!-- Loader -->
    <div id="loadingDiv" class="loader" ng-if="loading"></div>
    <!-- FeedBack And Tack A Break -->
    <div class="no_result_found" id="no_result_found" ng-if="!canShowResults()">
        <div align="center"> No Result Found</div>
    </div>
    <div id="searchResultDiv" class="greatnessfor">
        <div ng-if="canShowResults()" class="prepare_for_greatness_slider preparesslide1">
            <div class="container">
                <div class="col-md-12">
                    <div class="sliderdata" id="sliderdata_1">
                        <div class="col-md-3 center-parent" style="margin-top:15px;margin-bottom:15px;" id={{slide.identity}} ng-repeat="slide in ProfileSearchBooks | limitTo : BooksLimit : BooksOffset">
                            <center>
                                <a class="reviewpgnext1" style="cursor:pointer;"><img style="max-height: 200px;min-height: 200px;" ng-src="{{slide.bigUrl}}" ng-click="updateSelectedInstance(slide)"></a>
                            </center>
                            <!-- ng-click="updateSelectedInstance(slide)"-->
                            <div class="subtitle">{{slide.name}}</div>
                            <span uib-rating class="center" style="font-size: x-large;color: #FFC238;" ng-model="slide.rating" max="5" read-only="true" titles="titlesStar" aria-labelledby="default-rating"></span>
                            <div class="prices">{{slide.priceTag}}</div>
                        </div>

                        <a href="javascript:void(0)" ng-click="decreaseCounter()" sliderattr="1" class="left"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" ng-click="increaseCounter()" sliderattr="1" class="right"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                    <!-- Slider 1 -->
                    <div class="no_result_found" id="no_result_found" style="display:none">
                        <div align="center"> Sorry, we could not find what you’re looking for. We’ve included related resources for your to explore.</div>
                    </div>
                </div>
                <!-- <a href="#" class="slider-arrow sa-left4"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                <a href="#" class="slider-arrow sa-right4"><i class="fa fa-caret-right" aria-hidden="true"></i></a>  -->
            </div>
        </div>
        <!--Carousel Slider -->
        <div id="reviewId" class="review_book_details">
            <div ng-if="canShowReview()" class="container reviewtoparrow">
                <!--<h1>Review {{reviewEntity}}</h1>-->
                <div class="booktoparrow"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                <div class="containerpadding">
                    <div class="leftbooks col-md-4" style="padding:0px;">
                        <div class="books"><img ng-src="{{resource.bigUrl}}" style="max-height:245px" /></div>
                    </div>
                    <div class="rightdetails col-md-8">
                        <div class="bookname">Name : {{resource.name}}</div>
                        <div ng-show="showCoachingClass" id="branch" class="author">Branch : {{resource.branch}}</div>
                        <div ng-show="showBook" id="author" class="author">Author : {{resource.author}}</div>
                        <div ng-show="showBook" id="publisher" class="publisher">Publisher: {{resource.publication}}</div>
                        <div ng-show="showBook" id="isbn" class="isbn">ISBN : {{resource.identity}}</div>
                        <div ng-show="showBook" id="mrp" class="mrp">MRP : {{resource.priceTag}} </div>
                        <div ng-show="showBook" id="mrp" class="mrp">Edition : {{resource.year}} </div>
                        <div ng-show="showCoachingClass" id="mrp" class="mrp">Series : {{resource.stream}} </div>
                        <div ng-show="showCoachingClass" id="mrp" class="mrp">Year Founded : {{resource.year}} </div>
                        <div ng-show="showCoachingClass" id="mrp" class="mrp">WebSite : {{resource.website}} </div>

                        <div ng-show="showDigitalResource" id="mrp" class="mrp">Carear Stream : {{resource.stream}} </div>
                        <div ng-show="showDigitalResource" id="mrp" class="mrp">Year Founded : {{resource.year}} </div>
                        <div ng-show="showDigitalResource" id="mrp" class="mrp">WebSite : {{resource.website}} </div>

                        <hr class="line_break">
                        <div id="descriptionTitle" class="author">Description</div>
                        <div id="description" class="description">{{resource.description}}</div>
                    </div>
                </div>
            </div>
            <div ng-if="canShowReview()" id="submitReview" class="container reviewtoparrow">
                <div class="leftbooks leftratingbooks col-md-4">
                    <div class="title">Overall Rating</div>
                    <span uib-rating style="font-size: x-large;color: #FFC238;" ng-model="resource.rating" max="5" read-only="true" titles="titles" aria-labelledby="default-rating"></span>
                    <!--  -->
                    <!-- Review Section Added By JS -->
                    <div class="reviewankar"><a style="cursor:pointer;" ng-click="openPreview()">view preview</a></div>
                    <div ng-if="topicsVisibe">
                        <div class="title">Select 3 Topics</div>
                        <div id="selectTopics" class="reviewankar">
                            <select ng-model="topic1" ng-options="topic for topic in topics | orderBy "></select>
                        </div>
                        <div id="selectTopics" class="reviewankar">
                            <select ng-model="topic2" ng-options="topic for topic in topics | orderBy "></select>
                        </div>
                        <div id="selectTopics" class="reviewankar">
                            <select ng-model="topic3" ng-options="topic for topic in topics | orderBy "></select>
                        </div>
                    </div>
                    <!-- End of JS Section-->

                </div>
                <div class="rightdetails reviewrightdetails col-md-8">
                    <div class="left_rating">
                        <div class="rate_title">{{identity1}}{{ratingScope.identity1}}</div>
                        <div class="count-rating">
                            <div class="rate1" ng-click="updateIdentity1(1)"></div>
                            <div class="rate2" ng-click="updateIdentity1(2)"></div>
                            <div class="rate3" ng-click="updateIdentity1(3)"></div>
                            <div class="rate4" ng-click="updateIdentity1(4)"></div>
                            <div class="rate5" ng-click="updateIdentity1(5)"></div>
                            <div class="rate6" ng-click="updateIdentity1(6)"></div>
                            <span popover-placement="bottom" uib-popover="{{toolTip1}}" popover-trigger="'mouseenter'" popover-class="popover-custom">i</span>
                        </div>
                        <div class="rate_title">{{identity2}}{{ratingScope.identity2}}</div>
                        <div class="count-rating">
                            <div class="rate1" ng-click="updateIdentity2(1)"></div>
                            <div class="rate2" ng-click="updateIdentity2(2)"></div>
                            <div class="rate3" ng-click="updateIdentity2(3)"></div>
                            <div class="rate4" ng-click="updateIdentity2(4)"></div>
                            <div class="rate5" ng-click="updateIdentity2(5)"></div>
                            <div class="rate6" ng-click="updateIdentity2(6)"></div>
                            <span popover-placement="bottom" uib-popover="{{toolTip2}}" popover-trigger="'mouseenter'" popover-class="popover-custom">i</span>
                        </div>
                    </div>
                    <div class="right_rating">
                        <div class="rate_title">{{identity3}}{{ratingScope.identity3}}</div>
                        <div class="count-rating">
                            <div class="rate1" ng-click="updateIdentity3(1)"></div>
                            <div class="rate2" ng-click="updateIdentity3(2)"></div>
                            <div class="rate3" ng-click="updateIdentity3(3)"></div>
                            <div class="rate4" ng-click="updateIdentity3(4)"></div>
                            <div class="rate5" ng-click="updateIdentity3(5)"></div>
                            <div class="rate6" ng-click="updateIdentity3(6)"></div>
                            <span popover-placement="bottom" uib-popover="{{toolTip3}}" popover-trigger="'mouseenter'" popover-class="popover-custom">i</span>
                        </div>
                        <div class="rate_title">{{identity4}}{{ratingScope.identity4}}</div>
                        <div class="count-rating">
                            <div class="rate1" ng-click="updateIdentity4(1)"></div>
                            <div class="rate2" ng-click="updateIdentity4(2)"></div>
                            <div class="rate3" ng-click="updateIdentity4(3)"></div>
                            <div class="rate4" ng-click="updateIdentity4(4)"></div>
                            <div class="rate5" ng-click="updateIdentity4(5)"></div>
                            <div class="rate6" ng-click="updateIdentity4(6)"></div>
                            <span popover-placement="bottom" uib-popover="{{toolTip4}}" popover-trigger="'mouseenter'" popover-class="popover-custom">i</span>
                        </div>
                    </div>
                    <div class="customer_review"><textarea rows="5" ng-model="review.comment" placeholder="How to best use this book, notable features, suggestions for improvement, and overall comments."></textarea></div>
                    <div class="review-buttons">
                        <span popover-placement="bottom" uib-popover="{{toolTip5}}" popover-trigger="'mouseenter'" popover-class="popover-custom">i</span>
                        <input type="submit" value="submit" name="submit" ng-click="writeAReview()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============ Digital Tools ============-->
    <div ng-include="'footer.html'"></div>
    <div class="horizonral"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>

    <script>
        $(document).ready(function() {
            $("#all").click(function() {
                $(".popup").toggle();
            });
        });

    </script>
    <script type="text/javascript">
        $(function() {
            var menuVisible = false;
            $('#searchtips').css({
                'display': 'none'
            });
            $('#tips').hover(function() {
                if (menuVisible) {
                    $('#searchtips').css({
                        'display': 'none'
                    });
                    menuVisible = false;
                    return;
                }
                $('#searchtips').css({
                    'display': 'block'
                });
                menuVisible = true;
            });
            $('#searchtips').hover(function() {
                $(this).css({
                    'display': 'none'
                });
                menuVisible = true;
            });
        });

    </script>
    <!-- Tool Trp-->
    <script>
        $(document).ready(function() {
            $('#searchshow').click(function() {
                $('.hideshow').toggle("slide");
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            $('#booktext').click(function() {
                $('#booktext').css({
                    'height': '100px'
                });
                $('#searchbook').css({
                    'top': '30px'
                });
                $('#searchclose ').css({
                    'display': 'block'
                });
            });
            $('#searchbook').click(function() {
                $('#booktext').css({
                    'height': '100px'
                });
                $('#searchbook').css({
                    'top': '30px'
                });
                $('#searchclose ').css({
                    'display': 'block'
                });
            });
            $('#searchclose').click(function() {
                $('#booktext').css({
                    'height': '55px'
                });
                $('#searchbook').css({
                    'top': '3px'
                });
                $('#searchclose ').css({
                    'display': 'none'
                });
            });
        });

    </script>
    <script>
        // jQuery('.slider4').lbSlider({
        //     leftBtn: '.sa-left4',
        //     rightBtn: '.sa-right4',
        //     visible: 4,
        //     autoPlay: true,
        //     autoPlayDelay: 5
        // });

        // jQuery('.slider5').lbSlider({
        //     leftBtn: '.sa-left5',
        //     rightBtn: '.sa-right5',
        //     visible: 4,
        //     autoPlay: true,
        //     autoPlayDelay: 5
        // });

        // jQuery('.slider6').lbSlider({
        //     leftBtn: '.sa-left6',
        //     rightBtn: '.sa-right6',
        //     visible: 4,
        //     autoPlay: true,
        //     autoPlayDelay: 5
        // });

    </script>
    <!-- Slider -->


</body>

</html>
