<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title> Home </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/pagination.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="../js/commonServices.js"></script>
    <script src="../js/modalService.js"></script>
    <script src="js/adminBeJobReady.js"></script>
</head>

<body>
    <header>
        <!----menu bar start---->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="login-sec pull-right">
                <ul>
                    <br><a href="index.html">Go Back</a>
                </ul>
            </div>

        </nav>
        <!----menu bar End---->
    </header>

    <section>
        <div class="container" ng-app="myApp" ng-controller="adminBeJobReadyController">
            <div class="row col-md-14 col-md-offset-0 custyle">
                <table class="table table-striped custab">
                    <thead>


                        <tr>
                            <th width="20%">User Email</th>
                            <th width="20%">Through Social Media</th>
                            <th width="15%">Be Job Ready Service Bought</th>
                            <th width="10%">Date when Service Bought</th>
                            <th width="35%">Access Cover/CV building UI</th>

                        </tr>
                    </thead>
                    <tr ng-repeat="request in requests">
                        <td width="20%">{{ request.user }}</td>
                        <td width="20%">{{ request.st}}</td>
                        <td width="15%">{{ request.temlplateType}}</td>
                        <td width="10%">{{ request.dateLastUpdated}}</td>
                        <td width="35%"> <a class='btn btn-info btn-xs' ng-click="goToTemplateLandingPage(request)" href="#"><span class="glyphicon glyphicon-edit"></span> Access CV/Cover building Page for User</a> </td>
                    </tr>

                </table>
            </div>
            <div class="container">
                <ul class="pagination">
                    <li class="disabled"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    </li>
                    <li class="active"><a ng-click="fetchRequests('A')" href="#">A <span class="sr-only">(current)</span></a></li>
                    <li><a ng-click="fetchRequests('B')" href="#">B</a></li>
                    <li><a ng-click="fetchRequests('C')" href="#">C</a></li>
                    <li><a ng-click="fetchRequests('D')" href="#">D</a></li>
                    <li><a ng-click="fetchRequests('E')" href="#">E</a></li>
                    <li><a ng-click="fetchRequests('F')" href="#">F</a></li>
                    <li><a ng-click="fetchRequests('G')" href="#">G</a></li>
                    <li><a ng-click="fetchRequests('H')" href="#">H</a></li>
                    <li><a ng-click="fetchRequests('I')" href="#">I</a></li>
                    <li><a ng-click="fetchRequests('J')" href="#">J</a></li>
                    <li><a ng-click="fetchRequests('K')" href="#">K</a></li>
                    <li><a ng-click="fetchRequests('L')" href="#">L</a></li>
                    <li><a ng-click="fetchRequests('M')" href="#">M</a></li>

                    <li><a ng-click="fetchRequests('N')" href="#">N</a></li>
                    <li><a ng-click="fetchRequests('O')" href="#">O</a></li>
                    <li><a ng-click="fetchRequests('P')" href="#">P</a></li>
                    <li><a ng-click="fetchRequests('Q')" href="#">Q</a></li>
                    <li><a ng-click="fetchRequests('R')" href="#">R</a></li>
                    <li><a ng-click="fetchRequests('S')" href="#">S</a></li>
                    <li><a ng-click="fetchRequests('T')" href="#">T</a></li>
                    <li><a ng-click="fetchRequests('U')" href="#">U</a></li>
                    <li><a ng-click="fetchRequests('V')" href="#">V</a></li>
                    <li><a ng-click="fetchRequests('W')" href="#">W</a></li>
                    <li><a ng-click="fetchRequests('X')" href="#">X</a></li>
                    <li><a ng-click="fetchRequests('Y')" href="#">Y</a></li>
                    <li><a ng-click="fetchRequests('Z')" href="#">Z</a></li>
                    <li><a ng-click="fetchRequests('A')" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
    </section>


</body>

</html>
